

@media (max-width: 1600px) {}

@media (max-width: 1500px) {
	.left-item-cont-in{
		display: block;
		margin-top: 5px;
	}
	.top-categories .item .value{
		margin-left: 3px;
	}
}

@media (max-width: 1400px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {
	.top-products .owl-dots,
	.top-categories .owl-dots{
		display: none;
	}
	.top-categories .owl-nav {
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
	}
	.top-categories .owl-nav button {
  		position: initial;
	}
	.top-categories .owl-nav button {
		margin-right: 5px;
	}
	.big-banner-item-bg {
		width: 100%;
		height: 80vh;
	}
	.testim-inner h3 {
		margin-bottom: 15px;
	}
	.testim-inner p {
		font-size: 16px;
		line-height: 25px;
	}
	.app-content-dtls h3 {
  		font-size: 30px;
	}
	.app-content-dtls h3 span {
		font-size: 35px;
	}
	.testim-dtls {
  		position: initial;
	}
	.testim-inner .owl-nav .owl-prev,
	.testim-inner .owl-nav .owl-next {
  		bottom: -12%;
	}
	.testim-inner .owl-nav button {
		width: 40px;
		height: 40px;
	}
	.custom-full-pr-cont h2 {
		font-size: 50px;
		line-height: 55px;
	}

}


@media (max-width: 992px) {
	/* common section */
	.common-section{
		padding: 40px 0;
	}
	/* END common section */

	.menu-overlay {
		width: 100%; 
		right: -100%;
	}
	.banner_slider .carousel-caption h5 {
		font-size: 30px;
		line-height: 40px;
	}
	.banner_slider .carousel-caption p {
		font-size: 14px;
		font-weight: 400;
	}
	.main-btn {
		font-size: 14px;
		padding: 10px 15px;
	}
	.banner_slider .carousel-caption .second-btn{
		font-size: 14px;
		padding: 10px 15px;
	}
	.second-btn svg {
		font-size: 22px;
	}

	.mkp-products-item h3 {
  		font-size: 35px;
	}
	.mkp-products-item p {
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.mkp-products-item-bg{
		margin-top: 30px;
	}

	/* footer */
	.footer {
  		padding: 60px 0;
	}
	.left-bottom-logo {
		width: 130px;
	}

	/*profile*/
	.right-profile {
  		padding: 20px;
	}
	.left-profile {
		margin-bottom: 30px;
	}
	.order-dtls-in {
		margin-bottom: 15px;
	}

	

	
}

@media (max-width: 768px) {
	/* header */
	.header-img {
		width: 100px;
	}
	.right-top-header{
		display: none;
	}
	.top-header-in {
  		display: block;
	}
	.left-top-header {
		justify-content: center;
	}
	.right-top-header ul {
		justify-content: center;
	}
	.nav-search form button {
		font-size: 14px;
		font-weight: 400;
		padding: 8px 10px;
	}
	.nav-search form input {
		font-size: 14px;
		padding: 8px;
		padding-left: 25px;
		background-size: 12px;
  		background-position: 8px center;
	}
	 
	.menu-button .r-menu,
	.menu-button,
	.nav-profile svg,
	.nav-cart .cart-icon,
	.nav-wishlist svg{
		font-size: 18px;
	}
	.nav-cart .small-num1,
	.nav-wishlist .small-num2{
		font-size: 12px;
		left: 2px;
	}
	.nav-cart .cart-icon {
  		width: 18px;
	}
	.menu-outr {
		min-width: 75px;
	}
	.menu a {
  		font-size: 20px;
	}

	.banner_slider .carousel-outr {
  		height: 50vh;
	}
	.banner_slider .carousel-caption {
		left: 12%;
    	width: 75%;
	}

	.top-categories-item-bg {
  		height: 200px;
	}

	.testim-out{
		margin-top: 30px;
	}
	.home-pr-search-innr form {
  		width: 100%;
	}
	
	/*products details */
	.right-pr-dtls h2 {
  		font-size: 35px;
		line-height: 40px;
	}

	/* profile */
	.sec-cart {
		padding: 40px 0;
	}
	.right-profile {
  		padding: 20px;
	}
	.main-profile-list-cart-out{
		margin-bottom: 20px;
	}
	.personal-info {
  		margin-top: 0px;
	}

	/* profile cart */
	.profile-page-cartsec .cart-img-out .cart-incre,
	.profile-page-cartsec .prf-cart-data .cart-amnt,
	.profile-page-cartsec .prf-cart-data button{
		display: block;
	}
	.profile-page-cartsec .prf-cart-incre,
	.profile-page-cartsec .cart-dl-out,
	.profile-page-cartsec .prf-cart-amt{
		display: none;
	}
	.profile-page-cartsec .cart-img-out .cart-incre{
		margin-top: 10px;
	}
	.profile-page-cartsec .prf-cart-data button{
		margin-top: 10px;
	}

	/* profile wishlist */
	.profile-page-wishlistsec .prf-cart-data .cart-dl-out {
		display: block;
	}
	.profile-page-wishlistsec .cart-dl-out {
		display: none;
	}
	.profile-page-wishlistsec .cart-dl-out {
		text-align: initial;
	}
	.profile-page-wishlistsec .prf-cart-data .cart-dl-out{
		margin-top: 10px;
	}


}


@media (max-width: 600px) {
	/* common */
	.main-btn,
	.second-btn,
	.third-btn {
		font-size: 14px;
		font-weight: 400;
		padding: 7px 15px;
	}
	/* END common */

	.menu-button.open .close-icon {
		font-size: 25px;
	}
	.nav-search{
		display: none;
	}

	.banner_slider .carousel-caption h5 {
		font-size: 25px;
		line-height: 30px;
	}

	.top-categories .item-content {
  		display: block;
	}
	.right-item-content button, .right-item-content a {
		width: 35px;
		height: 35px;
	}

	.mkp-products-item h3 {
  		font-size: 25px;
	}
	.app-content-img {
		height: 350px;
	}
	.testim-inner {
  		padding: 20px;
	}
	.testim-inner h3 {
  		font-size: 25px;
		margin-bottom: 5px;
	}
	.testim-inner .owl-stage,
	.testim-inner .owl-stage-outer{
		height: auto;
		margin-bottom: 5px;
	}
	.testim-inner .owl-nav button {
  		position: initial;
	}
	.testim-inner p {
    	font-size: 14px;
	}
	.custom-full-pr-cont .custom-loved, 
	.custom-full-pr-cont button {
		padding: 9px 20px;
		font-size: 14px;
	}
	.custom-full-pr-cont h2 {
		font-size: 35px;
		line-height: 40px;
	}
	.custom-full-pr-cont p {
  		font-size: 14px;
	}

	/*products details */
	.pr-dtls-quntity .cart-incre {
		max-width: 30%;
	}
	.pr-dtls-quntity .shop-quantity .shop-down, .pr-dtls-quntity .shop-quantity .shop-up {
  		width: 30px;
	}

	/* profile */
	.order-history-cont {
  		padding: 10px;
	}
	.delivered-amt {
		font-size: 14px;
	}
	.ordered-item-cont h6 {
  		font-size: 14px;
	}
	.right-order-dtls-pr h6 a {
  		font-size: 14px;
	}
	.right-order-dtls-pr h6 {
		padding: 10px 12px;
		border-radius: 4px;
		text-align: center;
	}
	.order-list .nav-tabs .nav-link {
		padding: 0px 6px;
		font-size: 14px;
	}
	.order-activity h5 {
  		font-size: 16px;
	}
	.order-activity .activity-item h6 {
  		font-size: 13px;
	}
	.left-order-dtls-item-cont h4 {
  		font-size: 16px;
	}
	.cart-summary {
  		padding: 0px;
		font-size: 14px;
	}
	.cart-summary h5{
		font-size: 18px;
		margin-bottom: 10px !important
	}

	.prof-new-address {
  		display: block;
	}
	.manage-address-in {
  		padding: 15px;
	}
	.manage-address-in label {
  		font-size: 14px;
	}

	.change-password {
  		padding: 30px 20px;
	}
	.left-cart-page-out .common-headding h2 {
  		font-size: 20px;
	}
	

}

@media (max-width: 500px) {
	.pr-list-head {
  		display: block;
	}
	.pr-list-head h4{
		margin-bottom: 15px;
	}

	/*profile */
	.order-dtls-pr {
  		display: block;
	}
	.right-order-dtls-pr{
		margin-top: 15px;
	}
}


@media (max-width: 400px) {
	.carousel-item .main-btn-out {
  		display: block;
	}
	 .banner_slider .carousel-caption .second-btn {
		margin-top: 15px;
	}

	.home-shiping-item{
		width: 100%;
	}

	.cart-btn-out h4 {
  		font-size: 14px;
	}
	.cart-btn-out .second-btn,
	.cart-btn-out .main-btn{
		font-size: 14px;
		padding: 12px 10px;
    	text-align: center;
	}
	.custom-full-pr-cont h2 {
    	font-size: 30px;
	}
	.home-pr-search-innr h3 {
  		font-size: 25px;
	}
	.return-refund-cont {
		display: block;
		margin-bottom: 10px;
	}

	/* profile */
	.left-order-dtls-item{
		width: 100%;
		margin-bottom: 10px;
	}
	.cart-img-out{
		width: 100%;
	}
	.prf-cart-data{
		width: 100%;
	}
	.prf-cart-data .cart-data{
		margin-top: 10px;
	}
	.prf-cart-data button {
		margin-top: 0px;
		position: absolute;
		right: 5px;
		top: 5px;
	}

}